body {
    margin: 0;
    background-image: url("../images/coding.jpg");
    background-size: cover; 
    background-attachment: fixed;
}

.navbar {
  background: rgba(0, 0, 0, .83);
}

.sticky-top{
  top:50px;  
}
/* Overlay class to give original image a darker tint, hence, making content stand out */

div.overlay {
    margin: 0;
    background: rgba(0, 0, 0, .83);
    height: 610px;
    width: 100%;
           
}
.header {
    font-family: 'Squada One', cursive;
    color: whitesmoke;
    font-size: 3.5rem;
}

.homeBtns {
  padding: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  
}


.character {
    font-family: 'Squada One', cursive;
    padding-top: 4px;
}


.btn, .secTitles {
    margin: 5px;
    font-family: 'Squada One', cursive; 
}

h2.secTitles {

  font-family: 'Squada One', cursive; 
}
/* Centering the content to the center or the viewport */

div.container {
    margin: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)

}

/* Social Media Icons */
.social {
    margin: 0;
    padding: 0;
}

.social ul {
    margin: 0;
    padding: 5px;
}

.social ul li {
    margin: 5px;
    list-style: none outside none;
    display: inline-block;
}

.social i {
    width: 40px;
    height: 40px;
    color: #FFF;
    background-color: rgb(29, 33, 36);
    font-size: 22px;
    text-align:center;
    padding-top: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social i:hover {
    color: #FFF;
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social .fa-github:hover {
    background: #343434;
}


.social .fa-linkedin:hover {
    background: #0094BC;
}


.social .fa-instagram:hover {
    background: #375989;
}


.social .fa-stack-overflow:hover {
    background: #FEA501;
}


.social .fa-youtube:hover {
    background: #FF1F25;
}

.right {
  float: right;
}

.aMsection  {
  background-color: #FBE7B2;
}
.portSection {
  background-color:#C8C8CD;
}
.conSection {
  background-color: #A0E6FF;
}  
    
.aMsection, .conSection, .portSection {
    opacity: .95;  
    width: auto;
    border-radius: 4px;
}

#me {
margin: 10px;
border-radius: 50%;
display: inline-block;
position: center;
align-content: center;
text-align: center;
} 


.aboutMeTxt {
  padding: auto 2px;
  margin: auto 25px;
}

/* Portfolio image properties below */

.polaroid {   
  max-width: 100%;
  max-height: 100%;  
  color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px 10px;
  cursor: pointer;
  border: solid .5px black;  
  align-content: center;
  display: inline-block;
  grid-template-rows: auto;
  grid-gap: .5rem;
  opacity: .4;
   
}

.polaroid:hover {
  opacity: 1;
  transition: .9s;
}

.banner {
  padding: 10px 20px;
  text-align: center;
  text-decoration-line: none;
  color: #343434;
  font-family: 'Squada One', cursive;       
}



  /* Block of code below controls the blinking red cursor on home page */

.blinking-cursor {
    font-weight: 100;
    font-size: 60px;
    color: red;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
  }
  
  @keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: red;
    }
  }
  
  @-moz-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: red;
    }
  }
  
  @-webkit-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: red;
    }
  }
  
  @-ms-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: red;
    }
  }
  
  @-o-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: red;
    }
  }

  /* All code above this line controls the blinking red cursor on home page */

#back2Top {

  display: inline-block;
  text-align: center;
  align-content: center;
}
  
  #contact {
    width: 100%;   
    overflow: hidden;
    padding-bottom: 15px;
  }
  
  .section-header {
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
    margin-bottom: 25px;
    font: 300 60px 'Oswald', sans-serif;
    letter-spacing: 6px;
    color: #fff;
    margin-bottom: 25px;
  }
  
  .contact-wrapper {
    margin: 0 auto;
    padding-top: 20px;
    position: relative;
    max-width: 800px;
  }
  
  /* Begin Left Contact Page */
  .form-horizontal {
    float: left;
    max-width: 400px;
    font-family: 'Lato';
    font-weight: 400;
  }
  
  .form-control, textarea {
    background-color: #111;
    color: #fff;
    letter-spacing: 1px;
    width: 100%; 
    border:0; 
    padding-left:0; 
    padding-right:0; 
  }
  
  .send-button {
    margin-top: 15px;
    height: 34px;
    width: 400px;
    overflow: hidden;
    transition: all .2s ease-in-out;
  }
  
  .button {
    width: 400px;
    height: 34px;
    transition: all .2s ease-in-out;
  }
  
  .send-text {
    display: block;
    margin-top: 10px;
    font: 300 14px 'Lato', sans-serif;
    letter-spacing: 2px;
  }
  
  .button:hover {
    transform: translate3d(0px, -29px, 0px);
  }
  
  /* Begin Right Contact Page */
  .direct-contact-container {
    max-width: 400px;
    float: right;
    margin-top: 5px;
  }
  
  /* Location, Phone, Email Section */
  .contact-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
  }
  
  .list-item {
    line-height: 4;
    color: black;
  }
  
  .contact-text {
    font: 300 18px 'Lato', sans-serif;
    letter-spacing: 1.9px;
    color: black;
  }
  
  .place {
    margin-left: 62px;
  }
  
  .phone {
    margin-left: 56px;
  }
  
  .gmail {
    margin-left: 53px;
  }
  
  .contact-text a {
    color: black;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  
  .contact-text a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  
  /* Social Media Icons */
  .social-media-list {
    position: relative;
    font-size: 2.3rem;
    text-align: center;
    width: 100%;
  }
  
  .social-media-list li a {
    color: #fff;
  }
  
  .social-media-list li {
    position: relative; 
    top: 0;
    left: -20px;
    display: inline-block;
    height: 50px;
    width: 50px;
    margin: 10px auto;
    line-height: 50px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(27,27,27);
    cursor: pointer; 
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:hover {
    background-color: #fff; 
  }
  
  .social-media-list li:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
  }
  
  .social-media-list li:hover a {
    color: #111;
  }
    
  hr {
    border-color: rgba(255,255,255,.8); ;
  }
  
  /* Begin Media Queries*/
  @media screen and (max-width: 760px) {
      #contact {
          height: 1000px;
      }
    .section-header {
      font-size: 65px;
    }
    .direct-contact-container, .form-horizontal {
      float: none;
      margin: 10px auto;
    }  
    .direct-contact-container {
      margin-top: 60px;
      max-width: 300px;
    }    
    .social-media-list li {
      height: 60px;
      width: 60px;
      line-height: 60px;
    }
    .social-media-list li:after {
      width: 60px;
      height: 60px;
      line-height: 60px;
    }
  }
  
  @media screen and (max-width: 569px) {
    #contact {
      height: 1200px;
      }
    .section-header{
      font-size: 50px;
    }
    .direct-contact-container, .form-wrapper {
      float: none;
      margin: 0 auto;
    }  
    .form-control, textarea {
      max-width: 340px;
      margin: 0 auto;
    }
    
    .name, .email, textarea {
      width: 280px;
    } 
    .direct-contact-container {
      margin-top: 60px;
      max-width: 280px;
    }  
    .social-media-list {
      left: 0;
    }
    .social-media-list li {
      height: 55px;
      width: 55px;
      line-height: 55px;
      font-size: 2rem;
    }
    .social-media-list li:after {
      width: 55px;
      height: 55px;
      line-height: 55px;
    }
    
  }
  
  @media screen and (max-width: 410px) {
    .send-button {
      width: 99%;
    }
  }

  

/* font families inventory

font-family: 'Squada One', cursive; */

/* Font inventory
font-family: 'Staatliches', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Quantico', sans-serif;
*/